body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    flex-direction: column; /* Ensure elements stack vertically */
    transition: background-color 0.3s, color 0.3s;
}

#translationForm {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(56, 55, 55, 0.47);
    width: 80%;
    max-width: 800px;
    text-align: center;
    transition: background 0.3s;
    margin-bottom: 20px;
    margin-top: 50px;
    position: relative;
}

.below-form {
    width: 80%;
    text-align: center;
    max-width: 800px;
}

.dark-mode-switch {
    position: absolute;
    top: 20px;
    right: 20px;
}

.dark-mode-switch input[type="checkbox"] {
    display: none;
}

.dark-mode-switch label {
    display: inline-block;
    width: 50px;
    height: 25px;
    background: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dark-mode-switch label::after {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
}

.dark-mode-switch input[type="checkbox"]:checked + label {
    background: #444;
}

.dark-mode-switch input[type="checkbox"]:checked + label::after {
    left: 27px;
}

.slider-container {
    margin: 20px 0;
    text-align: left;
    position: relative;
}

.slider-container label {
    font-size: 16px;
    margin-right: 10px;
    color: #515151;
}

.slider-container input[type="range"] {
    width: calc(100% - 80px);
    margin: 10px 40px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    background: linear-gradient(to right, #444, #ccc);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s, background 0.3s;
    border-radius: 25px;
}
#proficiencySlider {
    font-size: 28px;
    margin-right: 10px;
    color: #515151;
}
.slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #d9d8d8;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    
}

.slider-container input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    
}

.slider-labels span {
    font-size: 14px;
    color: #515151;
    cursor: pointer;
    transition: color 0.3s, font-weight 0.3s;
}

#top, #bot {
    display: flex;
    justify-content: center;
    margin: 10px;
}

textarea {
    width: 100%;
    height: 75px;
    min-width: 125px;
    min-height: 250px;
    max-height: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    color: #515151;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 100px;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    color: #515151;
}

input[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #515151;
    color: #ccc;
    font-size: 22px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 10px;
}

input[type="button"]:hover {
    background-color: #ccc;
    color: #515151;
}

h1 {
    color: #515151;
}
p {
    color: #515151;
}
/* Dark Mode Styles */
body.dark-mode {
    background: linear-gradient(135deg, #1e1e1e, #2c2c2c);
    color: #ccc;
}

body.dark-mode #translationForm {
    background: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.47);
}

body.dark-mode textarea, body.dark-mode select, body.dark-mode input[type="button"], body.dark-mode .slider-container input[type="range"] {
    background-color: #444;
    color: #ccc;
    border: 1px solid #555;
}

body.dark-mode input[type="button"]:hover, body.dark-mode {
    background-color: #ccc;
    color: #444;
}

body.dark-mode h1, body.dark-mode .slider-labels span {
    color: #ccc;
}

body.dark-mode .slider-container input[type="range"] {
    background: linear-gradient(to right, #ccc, #444);
    transition: background 0.3s;
}
body.dark-mode #proficiencySlider {
    color: #ccc;
}
body.dark-mode li {
    color: #ccc;
}
body.dark-mode p {
    color: #ccc;
}
